/*
#####################################################################
### GLOBAL COLORS
##############################
*/

@colorWhite: #FFFFFF;
@colorBlack: #000000;
@colorBlueElectric: #238bd3;
@colorBlueElectricLight: #279ced;
@colorBlueElectricVeryLight: #3fabd3;
@colorGreyVeryVeryLight: #f9f9f9;
@colorGreyVeryLight: #f4f4f4;
@colorGreyMidLight: #DBDBDB;
@colorGreyLight: #D6D6D6;
@colorGrey: #aeaeae;
@colorGreyMidDark: #989898;
@colorGreyDark : #515151;
@colorGreyVeryDark: #333333;
@colorGreen: #36b177;
@colorGreenLight: #39dc82;

@colorGreenGrey: #7c7f79;
@colorGreenLightGrey: #adb0a9;
@colorGreenDark:#3a6665;