@import "constants";

body {
  background: @colorEggYellow;
}

.navbar {
  overflow: visible;
  width: 104%;
  margin-left: -2%;
  margin-bottom: 0;
  background: @colorMilkWhite;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  .navbar-box-border {
    width: 99%;
    height: 100%;
    margin: 4px 0px 0 4px;
    border-radius: 5px;
    border: 1px dotted @colorGreyMidDark;
    display: inline-block;

    .navbar-left {
      float: left;
      .brand {
        padding: 19px 20px 10px 33px;
        font-size: 200%;
        color: @colorBlueElectricLight;
        font-weight: bold;
      }
      small {
        font-size: 117%;
        padding: 33px 10px 10px 0;
        float: left;
        margin-left: -13px;
        color: @colorGreyMidDark;
      }
    }
    
    .navbar-right{
      float: right;
        margin: 2% 1% 1%;
        ul{
          list-style: none;
          margin:0;
          li{
            height: 25px;
            float: left;
            margin-right: 0px;
            border-right: 1px solid @colorGreenDark;
            padding: 0 20px;
            padding-top: 3px;
            &:last-child {
              border-right: none;
            }

            & a {
              text-decoration: none;
              color: @colorLakeBlue;
              font-size:16px;
              text-transform: uppercase;

              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
              &:hover{
                color: @colorGreyLight;
              }
            }

            &.active a{
              color:@colorCatHover;
              font-size: 24px;
            }
          }
        }
      }

  }
}

#main-container {
  max-width: 900px;
  margin: 0 auto 2%;
  padding: 0 4px 4px;
  background: @colorWhite;
}

.wrapper {
  border: 1px dotted @colorGreyLight;
  border-top: none;
}

.index-title{
  color: @colorPurple;
}

.row-fluid {
  min-height: 400px;
}

.page-header {
  padding-bottom: 9px;
  margin: 0;
  border-bottom: 2px solid @colorBlueElectricLight;
}

.header-svg {
  width: 50px;
  height: 50px;
}

.posts {
  float: left;
  width: 70%;
  .index-year {
    font-weight: bold;
    hr {
      margin: 10px 0;
      border: 0;
      border-top: 5px solid @colorGreyLight;
    }
  }
  .index-month {
    hr {
      margin: 10px 0;
      border: 0;
      border-top: 3px solid #eeeeee;
    }
  }
}

.index-right {
  float: right;
  width: 25%;
}



