@import "constants";

.post-content{
  .post-page-left{
    float: left;
    width: 75%;
  }

  .post-page-right{
    float: right;
    width: 25%;

  }

  .post-title {
    color: @colorPurple;
    padding-bottom: 2%;
    padding-left: 2%;
    .post-date{
      float: right;
      margin-right: 5%;
      color: @colorGreyMidDark;
    }
  }
}
