{% if page.type != "index" %}
	{% if page.title != "About me" and page.title != 404 %}
	<div class="page-header">
	<h1 class="index-title">{{ page.title }}
        {% if page.tagline %}
        <small class="index-description">{{ page.tagline }}</small>
        {% endif %}
    </h1>
    {% endif %}
</div>
{% else %}
<div class="index-header">
{% include themes/custom/index-header.html %}
    <img src="http://xiaoque.github.com/assets/themes/img/logo.png"  alt="">
{% include themes/custom/index-header.html %}
</div>

{% endif %}


<div class="row-fluid">
    <div class="span12">
        {% if content != null %}
        {{ content }}
        {% endif %}
    </div>
</div>

