<div class="post-content">
    <div class="post-page-left">
        <div class="post-title">
            <h3>{{ page.title }} {% if page.tagline %}
                <small>{{page.tagline}}</small>
                {% endif %}
            </h3>
            <div class="post-date">
                <span>{{ page.date | date_to_long_string }}</span>
            </div>
        </div>
        <div class="content">
            {{ content }}
        </div>

        {% unless page.categories == empty %}
        <ul class="cate_box cubelist">
            <li><i class="icon-folder-open"></i></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
        </ul>
        {% endunless %}

        {% unless page.tags == empty %}
        <ul class="tag_box cubelist">
            <li><i class="icon-tags"></i></li>
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}
        <br>
        {% include addThisSharing.html %}
    </div>

    <div class="post-page-right">
        <div class="post-page-category cubelist">
            <div class="category-title"> Categories </div>
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
            <hr>
            <div class="tag-title"> Tags </div>
            {% assign tags_list = site.tags %}
            {% include JB/tags_list %}
        </div>
    </div>

    <div class="pagination">
        <ul>
            {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}"
                                title="{{ page.previous.title }}">&larr; Previous:
                {{page.previous.title}} </a></li>
            {% else %}
            <li class="prev disabled"><a>&larr; Previous</a></li>
            {% endif %}
            {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
                Next: {{ page.next.title }} &rarr;</a></li>
            {% else %}
            <li class="next disabled"><a>Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>




    <hr/>
    {% include JB/comments-providers/disqus %}

</div>


